@keyframes movement {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(255, 75, 31, 1) 0%, rgba(2, 0, 36, 1) 50%, rgba(31, 221, 255, 1) 100%);
    /* animation-name: movement;
    animation-duration: 270s;
    animation-iteration-count: infinite; */
    min-height: 100vh;
}

header {
    background-color: aliceblue;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.headerContent {
    width: 75vw;
}

header button {
    background-color: rgba(255, 75, 31, 1);
    height: 30px;
    width: 60px;
    border-radius: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.ConferBox {
    text-align: center;
    height: 30%;
    width: 30%;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
}

.TextBox {
    width: 70%;
    height: 25px;
    text-align: center;
    color: aliceblue;
    border-radius: 15px;
    margin: 2px;
    background-color: rgb(60, 60, 60);

}

.conferir {
    width: 70%;
    height: 25px;
    border-radius: 10px;
    border: 0px;
    margin: 2px;
    transition: 250ms;
    background-color: rgb(189, 189, 189);
}

.conferir:hover {
    background-color: rgb(68, 68, 68);
    color: aliceblue;
    box-shadow: 0px 0px 4px black;
    transition: 250ms;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.Links {
    height: 30px;
    width: 150px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: aqua;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 20px black;
}
