*{
    margin: 0;
    border: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px black;
}
.Title{
    display: flex;
    align-items: flex-end;
    gap: 4px;
}
.header h2{
    background: -webkit-linear-gradient(0deg, rgba(243,20,25,1) 0%, rgba(50,42,119,1) 50%, rgba(54,167,199,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Oswald', sans-serif;
}
.header h3{
    font-family: 'Oswald', sans-serif;
}
.header h4{
    font-family: 'Oswald', sans-serif;
    color: black;
}

.header{
    height: 60px;
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderFunctions{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.HeaderFunctions a{
    text-decoration: none;
    text-decoration: black;
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.SelectSala{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#SelectSala{
    background-color: transparent;
    width: 100px;
    text-align: center;
    border: 5px;
    margin-left: 15px;
}
.Sala{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AlunosNaSala{
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.Aluno{
    background-color: rgb(206, 206, 206);
    min-width: 300px;
    width: 25%;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    box-shadow: -5px 5px 20px black;
}
.Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.Info{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Aluno img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.Button{
    width: 60px;
    height: 30px;
    border-radius: 10px;
}

.Blur{
    filter: blur(3px);
}
.Cadastro{
    background-color: rgb(247, 247, 247);
    top: 0;    bottom: 0;    left: 0;    right: 0;
    margin: auto;
    height: 50vh;
    width: 500px;
    min-width: 200px;
    display: none;
    position: fixed;
    top: 0;   
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
}
.Cadastro .Content{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.Content div{
    height: 50px;
}
.Content  input{
    height: 50%;
    width: 200px;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
}
.Cadastro button{
    box-shadow: 0px 0px 10px black;
    background-color: aquamarine;
    width: 100px;
    height: 30px;
    border-radius: 15px;
}